include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig"

#include the FLUTTER_ROOT generated xcconfig
#include "Generated.xcconfig"
